body {
    background-color: #FEFEFE;
}

.card {
    height: 140px;
    background-color: white;
    padding: 5px;
    margin-bottom: 10px;
    font-family: Helvetica;
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.5);
}

.card__image {
    display: inline-block;
    width: 100px;
    height: 140px;
    margin-right: 10px;
}

.card__content {
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: calc(100% - 120px);
    height: 140px;
}

.card__content h3 {
    margin: 0;
}

.card__rating {
    position: absolute;
    bottom: 0;
}

.card__stars--active {
    color: #41377C;
}

.card__stars--inactive {
    color: #CCCCCC;
}